body{
    background-image: linear-gradient(180deg,#ffb199,#ff0844);
}

.centro{
    text-align: center;
    font-weight: 400;
}

.alinhamento {
    text-align: center;
}

#dados{
    cursor: text;
}

#lavel{
    cursor: pointer;
}

.input-group-text {
    color: white;
    background: rgb(143, 150, 136);
}



td {
  font-weight: bold; 
  
}

