body{
    background-image: url("../tempsnip.png");
    
    /* background: linear-gradient(180deg,#ffb199,#ff0844); */
    
}

@font-face{
    font-family: 'TheCircous';
    src: url("fonts/TheCircousRegular.woff");
    
}

@font-face{
    font-family: 'MADE Evolve Sans EVO';
    src: url("fonts/MADEEvolveSansEVO-Medium.woff");
}



.font_customizada {
    font-family: 'MADE Evolve Sans EVO';
    font-size: 60px;
    color: #fff;

}

.label_customizada {
    color:rgba(0, 0, 0, 0.87);
    font-size: 17px;
    font-weight: 500;
}